.hero-bio-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  /* ,
    url('/src/assets/background.jpg') center top/ cover no-repeat; */
  /* alt way of doing background image: center center w/ background2.jpg 
   + remove  background-attachment: fixed*/
  /* background-position: fixed; */
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
  object-fit: contain;
  padding-bottom: 25px;
  overflow: hidden;
}

#about {
  /* display: flex;
    flex-direction: column;
    align-items: center; */
  color: #fff;
  font-size: 14.5px;
  /* padding-bottom: 0.5rem; */
  /* width: 100%; */
  max-width: 675px;
  padding: 20px 20px;
}
