.hero-merch-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url('/src/assets/DSC06340.jpg') center top / cover no-repeat;
  /* ,
          url('/src/assets/background.jpg') center top/ cover no-repeat; */
  /* alt way of doing background image: center center w/ background2.jpg 
         + remove  background-attachment: fixed*/
  /* background-position: fixed; */
  background-attachment: fixed;
  height: 77vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  flex-wrap: wrap;
  padding-bottom: 25px;
  overflow: hidden;
}

.merch-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.5px solid #fff;
  padding: 20px;
  border-radius: 8px;
  /* margin: 25px; */
}

/* .merch-container:hover {
  transform: scale(1.01);
} */

#title:hover {
  cursor: pointer;
}

#title {
  color: #fff;
  font-size: 26px;
}

#title-sub {
  color: #fff;
  font-size: 15px;
}

.artwork {
  width: 100%;
  height: auto;
  max-width: 310px;
  padding: 20px;
}

.artwork:hover {
  transform: scale(1.01);
}

.description {
  font-size: 1.5rem;
  font-weight: 200;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .hero-merch-container {
    background-attachment: fixed;
    font-size: 70px;
    padding-top: 100px;
    margin-top: -150px;
    display: block;
    overflow: scroll;
  }

  .merch-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 700px; */
    border: 1.5px solid #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 25px;
  }

  .profile_title {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
  .hero-merch-container {
    background-attachment: fixed;
    display: block;
    font-size: 50px;
    margin-top: -100px;
  }

  #title {
    color: #fff;
    font-size: 22px;
  }

  #description {
    color: #fff;
    font-size: 15px;
  }
}
