.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url('/src/assets/background.jpg') center top / cover no-repeat;
  /* alt way of doing background image: center center w/ background2.jpg 
   + remove  background-attachment: fixed*/
  /* background-position: center; */
  background-attachment: fixed;
  padding-top: 35px;
  height: 100vh;
  /* 100VW is new. give it a shot */
  width: 100vw;
  /* max-width: 1200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  overflow-y: hidden;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
  padding-top: 25px;
  /* position: fixed; */
}
